<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdminPortal"
        tools:targetApi="31">

        <activity
            android:name=".ui.activities.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.dashboard.DashboardActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.devicedetails.DeviceDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.userdetails.UserDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.signup.SignUpActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.editprofile.EditProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.resetpassword.ResetPasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.assigndevice.AssignDeviceActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>